name: flutter_secure_file_storage
description: An implementation for flutter secure file storage. For example keychain has a soft limit of 4kb. Using the file system instead we can store much larger content
version: 0.1.0
homepage: https://github.com/icapps/flutter_secure_file_storage

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  async: ^2.11.0
  flutter:
    sdk: flutter
  flutter_key_value_file_storage: ^0.0.6
  flutter_secure_storage: ^8.0.0
  path: ^1.8.3
  path_provider: ^2.0.15
  pointycastle: ^3.7.3

dev_dependencies:
  build_runner: ^2.4.4
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  mockito: ^5.4.1

flutter:
  plugin:
    platforms:
      android:
        package: com.icapps.flutter_secure_file_storage
        pluginClass: SecureFileStoragePlugin
      ios:
        pluginClass: FlutterSecureFileStoragePlugin
